/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

.box{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
}

/*Utilities*/
.container{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 10px 25px;
}

.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid darkgrey;
}

.bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*Logo header*/
#logo-header{
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}

#logo{
    vertical-align: middle;
}

.main-header{
    display: inline;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

/*Card manager*/
.task{
    color: white;
    background-color: #1e90ff;
    border: 1px solid #1e90ff;
}

.section{
    color: #7b736f;
    text-decoration: none;
    border: 1px solid #7b736f;
}